container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_migrations:
    command: "django-admin.py migrate"
    leader_only: true
  03_statics:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: servicearea/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: servicearea.settings