{% extends 'base.html' %}

{% block draw %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Create your "Sevice Areas" by clicking on the map. (double click to finish an area)</h3>
        <div id="map_canvas"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Service Areas:</h2>
        <div class="messages">
        </div>
        <form id="form-area">
            <div class="form-group">
                <input type="text" name="name" value="" placeholder="Areas name" class="form-control" id="name"/>
            </div>
            <input type="submit" value="Save" class="btn btn-success"/>
            <a id="clear" class="btn btn-default" href="{% url 'draw' %}">Clear</a>
        </form>
    </div>
    <div class="col-md-4">
        <h2>List of points</h2>
        <div class="points">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{block.super}}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing">
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/draw.js">
    </script>

{% endblock %}