{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="map_canvas"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Service Areas:</h2>
        <div class="messages">
        </div>
        <form id="form-area">
            <div class="form-group">
                <input type="text" name="name" value="" placeholder="Areas name" class="form-control" id="name"/>
            </div>
            <div class="form-group">
                <textarea name="poly"rows="4" cols="50" placeholder="Polygon" class="form-control" id="poly" readonly="true"></textarea>
            </div>
            <input type="submit" value="Save" class="btn btn-success"/>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    {{block.super}}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing">
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/draw.js">
    </script>

{% endblock %}