{% extends 'base.html' %}

{% block find %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Click on the map to search "Sevice Areas".</p>
        <div id="map_canvas"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Service Areas:</h4>
        <div class="messages">
        </div>
        <div class="results">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{block.super}}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing">
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/find.js">
    </script>

{% endblock %}